.airdropContainer {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  overflow: auto;

  .connectButton {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  h1 {
    font-size: 22px;
    color: var(--chakra-colors-teal-500);
  }

  .mintNFTcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nftList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .nftItem {
      width: 220px;
      border: 1px solid #d9d9d9;
      background-color: #fff;
      border-radius: 16px;

      .detail {
        padding: 16px;
        line-height: 30px;

        .number {
          color: rgba(0, 0, 0, 0.88);
          font-size: 14px;
        }

        h2 {
          color: rgba(0, 0, 0, 0.88);
          font-size: 24px;
        }

        .description {
          color: rgba(0, 0, 0, 0.65);
          font-size: 16px;
        }
      }
    }
  }
}

